// Grid dimensions
$grid-width-widthout-offset: 1180px;
$grid-offset: 16px;
$grid-width: $grid-width + $grid-padding * 2;
$grid-padding: 0 $grid-padding;

// Responsive dimensions
$responsive-tablet-width: 1024px;
$responsive-mobile-width: 414px;