* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea,
input,
button {
  @apply font-sans font-normal
}

html,
body {
  @apply h-full font-sans text-slate-900
}

.render {
  @apply fixed top-0 left-0 z-[99999] h-full w-full bg-white
}

.wrapper {
  @apply container mx-auto
}

.page-wrapper {
  @apply w-full pt-6 lg:pt-14
}

.page-container {
  @apply flex min-h-[calc(100vh-var(--header-height))] w-full flex-col items-start justify-between
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}