* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

textarea,
input,
button,
select,
a {
  outline: none;
  border-radius: 0;

  font-weight: 400;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  touch-action: manipulation;
}

html,
body {
  height: 100%;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $slate-900;
  @include font-base;
}

.loading {
  position: relative;
  overflow: hidden;
  background-color: $gray-300 !important;
  transition: $transition-default;
  filter: blur(10px);
  body.dark & {
    background-color: $gray-700 !important;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    animation: loading 1.5s infinite;
  }
}

.render {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100%;
  height: 100%;

  background-color: $white;
}

.wrapper {
  margin: 0 auto;
  padding: 0 #{$container-padding};
  width: 100%;
  max-width: calc(#{$mobile-wrapper} + #{$container-padding * 2});
  @include screen(tablet) {
    max-width: calc(#{$screen-tablet} + #{$container-padding * 2});
  }
  @include screen(tablet-2x) {
    max-width: calc(#{$screen-tablet-2x} + #{$container-padding * 2});
  }
  @include screen(laptop) {
    max-width: calc(#{$screen-laptop} + #{$container-padding * 2});
  }
  @include screen(desktop) {
    max-width: calc(#{$screen-desktop} + #{$container-padding * 2});
  }
}

.page-wrapper {
  padding-top: calc(var(--header-height) + 24px);
  width: 100%;
  @include screen(tablet-2x) {
    padding-top: calc(var(--header-height) + 56px);
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 100dvh;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}