@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  color: $black;
}

textarea,
input,
button,
select,
a {
  outline: none;
  border-radius: 0;

  font-weight: 400;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  touch-action: manipulation;
}

html,
body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color: $gray-900;

  transition:
    background-color $transition-default,
    color $transition-default;

  @include font-16;

  &.dark {
    background-color: $gray-900;

    color: $white;

    .header {
      &__theme {
        &-light {
          opacity: 0;

          z-index: -1;
          visibility: hidden;
        }
        &-dark {
          opacity: 1;

          z-index: 1;
          visibility: visible;
        }
      }
    }
  }
}

.offline-banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  padding: $spacing-10;

  background: $red-600;

  font-weight: 600;
  text-align: center;
  color: $white;
}

.loading {
  position: relative;

  overflow: hidden;

  background-color: $gray-300 !important;

  transition: $transition-default;
  filter: blur(10px);
  body.dark & {
    background-color: $gray-700 !important;
  }
  &:after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );

    animation: loading 1.5s infinite;
  }
}

.render {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100%;
  height: 100%;

  background-color: $white;
  body.dark & {
    background-color: $gray-900;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 #{$container-padding};
  width: 100%;
  max-width: calc(#{$screen-sm} + #{$container-padding * 2});
  @include screen(md) {
    max-width: calc(#{$screen-md} + #{$container-padding * 2});
  }
  @include screen(lg) {
    max-width: calc(#{$screen-lg} + #{$container-padding * 2});
  }
  @include screen(xl) {
    max-width: calc(#{$screen-xl} + #{$container-padding * 2});
  }
  @include screen(2xl) {
    max-width: calc(#{$screen-2xl} + #{$container-padding * 2});
  }
}

.page-wrapper {
  padding-top: calc(var(--header-offset));
  width: 100%;
  @include screen(lg) {
    padding-top: calc(var(--header-offset));
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 100dvh;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}