html,
body {
  @apply h-full font-sans text-slate-900
}

.render {
  @apply fixed top-0 left-0 z-[99999] h-full w-full bg-white
}

.wrapper {
  @apply container mx-auto
}

.barba {
  @apply w-full pt-6 lg:pt-14
}

main {
  @apply flex w-full flex-col items-start justify-between min-h-[calc(100vh-178px)]
}
