@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.content {
  margin: 0 auto;
  padding: $spacing-24 0;
  max-width: 800px;
  &-full {
    max-width: 100%;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  img {
    width: 100%;

    border-radius: $rounded-8;
  }

  h1 {
    display: flex;
    align-items: center;
    margin-top: $spacing-24;

    font-weight: 700;
    @include font-24;
    @include screen(md) {
      @include font-30;
    }
    @include screen(lg) {
      @include font-48;
    }
    img {
      margin-right: $spacing-12;
      width: 24px;
      min-width: 24px;
      @include screen(md) {
        width: 32px;
        min-width: 32px;
      }
      @include screen(lg) {
        width: 48px;
        min-width: 48px;
      }
    }
    &:first-child {
      margin-top: 0;
      margin-bottom: $spacing-24;
    }
  }

  h2 {
    margin-top: $spacing-24;

    font-weight: 600;
    @include font-20;
    @include screen(lg) {
      margin-top: $spacing-40;

      @include font-30;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: $spacing-16;

    font-weight: 600;
    @include font-20;
    @include screen(lg) {
      margin-top: $spacing-24;

      @include font-24;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    margin-top: $spacing-14;

    font-weight: 600;
    @include font-18;
    @include screen(lg) {
      @include font-20;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-top: $spacing-16;
  }

  hr {
    margin-top: $spacing-16;

    border: none;
    border-top: 1px solid $gray-300;

    transition: border-color $transition-default;
    body.dark & {
      border-color: $gray-700;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: $spacing-8;
    margin-top: $spacing-24;

    border-radius: $rounded-8;

    text-align: center;

    transition: $transition-default;
    aspect-ratio: 16 / 9;
    img {
      aspect-ratio: 16 / 9;

      width: 100%;
      object-fit: cover;
    }
    figcaption {
      margin-top: auto;

      color: $gray-500;
      @include font-14;
    }
  }

  table {
    margin-top: $spacing-16;
    width: 100%;

    border: 1px solid $gray-300;

    transition: border-color $transition-default;
    body.dark & {
      border-color: $gray-700;
    }
    tr {
      transition: background-color $transition-default;
      th {
        padding: $spacing-8 $spacing-16;

        border: 1px solid $gray-300;
        border-collapse: separate;

        text-align: left;

        transition: border-color $transition-default;
        body.dark & {
          border-color: $gray-700;
        }
      }
      td {
        padding: $spacing-8 $spacing-16;

        border: 1px solid $gray-300;
        border-collapse: separate;

        transition: border-color $transition-default;
        body.dark & {
          border-color: $gray-700;
        }
      }
    }
  }

  blockquote {
    margin: $spacing-24 0;
    padding: $spacing-16 $spacing-20;

    border-left: 4px solid $blue-500;
    border-radius: 0 $rounded-6 $rounded-6 0;

    background-color: $blue-050;

    font-style: italic;

    transition: background-color $transition-default;
    body.dark & {
      background-color: $gray-800;
    }

    p {
      margin: 0;
    }
  }

  span {
    display: inline-block;

    @include font-14;
  }

  ul {
    margin-top: $spacing-16;
    margin-left: $spacing-16;
    list-style: disc;
    @include screen(lg) {
      margin-top: $spacing-20;
    }
    li {
      margin-top: $spacing-8;
      @include font-14;
      @include screen(md) {
        @include font-16;
      }
      &::marker {
        color: $blue-500;
      }
    }
  }

  code {
    padding: $spacing-2 $spacing-6;

    border-radius: $rounded-4;
    background-color: $blue-100 !important;

    transition: $transition-default;
    @include font-12;
    @include screen(lg) {
      padding: $spacing-2 $spacing-8;
      @include font-14;
    }

    body.dark & {
      background-color: $gray-800 !important;
    }
    span {
      transition: $transition-default;
    }
  }

  ol {
    margin-top: $spacing-16;
    margin-left: $spacing-16;
    list-style: decimal;
    @include screen(lg) {
      margin-top: $spacing-20;
    }
    & > span {
      @include font-14;
      @include screen(md) {
        @include font-16;
      }
    }
    li {
      margin-top: $spacing-12;
      @include font-14;
      @include screen(md) {
        @include font-16;
      }
      &::marker {
        font-weight: 500;
        color: $blue-500;
      }
      span {
        display: block;
        margin-top: $spacing-4;

        color: $gray-500;
      }
      ul {
        margin-top: $spacing-12;
      }
    }
  }

  pre {
    margin-top: $spacing-16;
    overflow-x: auto;

    border-radius: $rounded-8;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  mark {
    padding: $spacing-2 $spacing-6;

    border-radius: $rounded-4;
    background-color: $orange-400;

    color: $white;

    transition: background-color $transition-default;
    @include font-12;
    @include screen(lg) {
      padding: $spacing-4 $spacing-8;
      @include font-14;
    }
  }

  del {
    text-decoration: line-through;
    opacity: 0.7;
  }
  a {
    border-bottom: 1px solid transparent;

    color: $blue-500;
    @include screen(xl) {
      transition: border-color $transition-default;
      &:hover {
        border-color: $blue-500;
      }
    }
  }
}