$transition-default: 0.3s;
$transition-slow: 0.8s;

$container-padding: 16px;

$screen-desktop: 1536px;
$screen-laptop: 1280px;
$screen-tablet-2x: 1024px;
$screen-tablet: 768px;
$screen-mobile: 640px;

$mobile-wrapper: 343px;

$white: #ffffff;
$black: #000000;

$blue-050: #ebf5ff;
$blue-100: #dbeafe;
$blue-500: #3b82f6;
$blue-800: #1e429f;

$gray-300: #d1d5db;
$gray-500: #6b7280;
$gray-700: #374151;

$orange-400: #ff8a4c;

$slate-800: #1e293b;
$slate-900: #0f172a;

$red-600: #e02424;