$transition-default: 0.3s;

$container-padding: 16px;

$screen-2xl: 1536px;
$screen-xl: 1280px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 640px;

$white: #FFFFFF;

$blue-050: #EBF5FF;
$blue-100: #E1EFFE;
$blue-200: #C3DDFD;
$blue-300: #A4CAFE;
$blue-400: #76A9FA;
$blue-500: #3F83F8;
$blue-600: #1C64F2;
$blue-700: #1A56DB;
$blue-800: #1E429F;
$blue-900: #233876;

$gray-050: #F9FAFB;
$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2A37;
$gray-900: #111928;

$red-050: #FDF2F2;
$red-100: #FDE8E8;
$red-200: #FBD5D5;
$red-300: #F8B4B4;
$red-400: #F98080;
$red-500: #F05252;
$red-600: #E02424;
$red-700: #C81E1E;
$red-800: #9B1C1C;
$red-900: #771D1D;

$orange-050: #FFF8F1;
$orange-100: #FEECDC;
$orange-200: #FCD9BD;
$orange-300: #FDBA8C;
$orange-400: #FF8A4C;
$orange-500: #FF5A1F;
$orange-600: #D03801;
$orange-700: #B43403;
$orange-800: #8A2C0D;
$orange-900: #771D1D;

$yellow-050: #FDFDEA;
$yellow-100: #FDF6B2;
$yellow-200: #FCE96A;
$yellow-300: #FACA15;
$yellow-400: #E3A008;
$yellow-500: #C27803;
$yellow-600: #9F580A;
$yellow-700: #8E4B10;
$yellow-800: #723B13;
$yellow-900: #633112;

$green-050: #F3FAF7;
$green-100: #DEF7EC;
$green-200: #BCF0DA;
$green-300: #84E1BC;
$green-400: #31C48D;
$green-500: #0E9F6E;
$green-600: #057A55;
$green-700: #046C4E;
$green-800: #03543F;
$green-900: #014737;

$teal-050: #EDFAFA;
$teal-100: #D5F5F6;
$teal-200: #AFECEF;
$teal-300: #7EDCE2;
$teal-400: #16BDCA;
$teal-500: #0694A2;
$teal-600: #047481;
$teal-700: #036672;
$teal-800: #05505C;
$teal-900: #014451;

$indigo-050: #F0F5FF;
$indigo-100: #E5EDFF;
$indigo-200: #CDDBFE;
$indigo-300: #B4C6FC;
$indigo-400: #8DA2FB;
$indigo-500: #6875F5;
$indigo-600: #5850EC;
$indigo-700: #5145CD;
$indigo-800: #42389D;
$indigo-900: #362F78;

$purple-050: #F6F5FF;
$purple-100: #EDEBFE;
$purple-200: #DCD7FE;
$purple-300: #CABFFD;
$purple-400: #AC94FA;
$purple-500: #9061F9;
$purple-600: #7E3AF2;
$purple-700: #6C2BD9;
$purple-800: #5521B5;
$purple-900: #4A1D96;

$pink-050: #FDF2F8;
$pink-100: #FCE8F3;
$pink-200: #FAD1E8;
$pink-300: #F8B4D9;
$pink-400: #F17EB8;
$pink-500: #E74694;
$pink-600: #D61F69;
$pink-700: #BF125D;
$pink-800: #99154B;
$pink-900: #751A3D;

$spacing-0: 0px;
$spacing-1: 1px;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-44: 44px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-80: 80px;
$spacing-96: 96px;
$spacing-112: 112px;
$spacing-128: 128px;
$spacing-144: 144px;
$spacing-160: 160px;
$spacing-176: 176px;
$spacing-192: 192px;
$spacing-208: 208px;
$spacing-224: 224px;
$spacing-240: 240px;
$spacing-256: 256px;
$spacing-288: 288px;
$spacing-320: 320px;
$spacing-384: 384px;