@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.blog-v1 {
  padding: $spacing-32 0;
  @include screen(md) {
    padding: $spacing-64 0;
  }
  @include screen(xl) {
    padding: $spacing-96 0;
  }
  &__wrapper {
    margin: 0 auto;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    gap: $spacing-16;
    @include screen(md) {
      align-items: center;
    }
    h2 {
      font-weight: 800;
      @include font-30;
      @include screen(md) {
        @include font-36;
      }
    }
    p {
      max-width: 642px;

      color: $gray-500;
      @include font-16;
      @include screen(md) {
        text-align: center;
        @include font-18;
      }
      @include screen(xl) {
        @include font-20;
      }
      body.dark & {
        color: $gray-400;
      }
    }
  }
  &__slider {
    margin-top: $spacing-32;
    @include screen(xl) {
      margin-top: $spacing-48;
    }
    .swiper {
      &-slide {
        height: auto;
      }
      &-wrapper {
        align-items: stretch;
      }
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-24;
    height: 100%;

    border: 1px solid $gray-200;
    border-radius: $rounded-8;

    transition: $transition-default;
    body.dark & {
      border-color: $gray-700;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-24;

    border-radius: $rounded-8;
    background-color: $gray-050;

    transition: $transition-default;
    body.dark & {
      background-color: $gray-800;
    }
  }
  &__header {
    margin-top: $spacing-24;
  }
  &__image {
    overflow: hidden;

    border: 1px solid $gray-200;
    border-radius: $rounded-8;

    transition: $transition-default;
    aspect-ratio: 16 / 9;
    body.dark & {
      border-color: transparent;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    margin-top: $spacing-12;

    font-weight: 700;

    transition: $transition-default;
    @include font-24;
    @include line-clamp-3;
    body.dark & {
      color: $white;
    }
  }
  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: $spacing-20;
  }
  &__tag {
    display: inline-block;
    padding: $spacing-2 $spacing-10;

    border-radius: $rounded-6;
    background-color: $blue-100;

    color: $blue-600;

    transition: color $transition-default, background-color $transition-default;
    @include font-12;
    body.dark & {
      background-color: $blue-900;

      color: $white;
    }
  }
  &__description {
    margin-top: $spacing-10;
    min-height: 72px;

    line-height: 150%;
    color: $gray-500;
    @include line-clamp-3;
  }
  &__date {
    display: flex;
    align-items: center;
    gap: $spacing-4;

    border-radius: $rounded-8;

    color: $gray-400;
    @include font-14;
    svg {
      width: 16px;
      height: 16px;

      color: $gray-400;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-8;
    padding: $spacing-8 $spacing-20;

    border: 1px solid $gray-200;
    border-radius: $rounded-8;

    transition: border-color $transition-default, background-color $transition-default;
    @include screen(xl) {
      &:hover {
        background-color: $gray-100;
        body.dark & {
          background-color: $gray-700;
        }
      }
    }
    body.dark & {
      border-color: $gray-600;
    }
    span {
      font-weight: 500;
      color: $gray-900;

      transition: color $transition-default;
      body.dark & {
        color: $white;
      }
    }
  }
  .swiper {
    margin-top: $spacing-32;
    padding-bottom: $spacing-40;
    @include screen(md) {
      margin-top: $spacing-48;
    }
    @include screen(xl) {
      margin-top: $spacing-64;
    }
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    width: 100% !important;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
  }
}