.blog {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    margin-top: 24px;
    @include screen(tablet) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include screen(tablet-2x) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}