@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.features-v1 {
  &__wrapper {
    padding: $spacing-32 0;
    @include screen(md) {
      padding: $spacing-64 0;
    }
    @include screen(xl) {
      padding: $spacing-96 0;
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-16;
    h2 {
      font-weight: 800;
      @include font-30;
      @include screen(md) {
        @include font-36;
      }
    }
    p {
      max-width: 768px;

      color: $gray-500;
      @include font-16;
      @include screen(md) {
        @include font-18;
      }
      @include screen(xl) {
        @include font-20;
      }
      body.dark & {
        color: $gray-400;
      }
    }
  }
  &__items {
    margin-top: $spacing-48;
    display: grid;
    gap: $spacing-24;
    @include screen(md) {
      row-gap: $spacing-48;
      column-gap: $spacing-16;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include screen(xl) {
      gap: $spacing-48;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  &__icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $rounded-full;
    background-color: $blue-100;
    transition: $transition-default;
    body.dark & {
      background-color: $blue-900;
    }
    svg {
      width: 24px;
      height: 24px;
      color: $blue-700;
      transition: $transition-default;
      body.dark & {
        color: $blue-400;
      }
    }
  }
  &__title {
    font-weight: 700;
    margin-top: $spacing-16;
    @include font-20;
  }
  &__description {
    margin-top: $spacing-8;
    color: $gray-500;
    @include font-16;
  }
}