.footer {
  width: 100%;
  border-top: 1px solid $gray-300;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
  }
  &__left {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 24px;
    }
  }
  &__powered {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 20px;
    a {
      margin-left: 4px;
      display: inline-block;
      font-weight: 700;
      @include screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $blue-500;
        }
      }
      i {
        margin-left: 4px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        display: inline-flex;
        a {
          font-size: 12px;
          line-height: 16px;
          @include screen(laptop) {
            transition: color $transition-default;
            &:hover {
              color: $blue-500;
            }
          }
        }
        &:last-child {
          margin-left: 16px;
        }
      }
    }
  }
  &__copy {
    display: inline-block;
    span {
      margin-right: 4px;
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}