.footer {
  width: 100%;

  border-top: 1px solid $gray-300;

  transition: border-color $transition-default;
  body.dark & {
    border-color: $gray-700;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    img {
      width: 24px;
    }
  }
  &__powered {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include font-sm;
    a {
      display: inline-block;
      margin-left: 4px;

      font-weight: 700;
      color: $slate-900;

      transition: color $transition-default;
      @include screen(laptop) {
        &:hover {
          color: $blue-500;
        }
      }
      body.dark & {
        color: $white;
        @include screen(laptop) {
          &:hover {
            color: $blue-500;
          }
        }
      }
      i {
        margin-left: 4px;

        @include font-sm;
      }
    }
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
      margin: 0;
      li {
        display: inline-flex;
        margin: 0;
        a {
          color: $slate-900;

          transition: color $transition-default;
          @include font-xs;
          @include screen(laptop) {
            &:hover {
              color: $blue-500;
            }
          }
          body.dark & {
            color: $white;
            @include screen(laptop) {
              &:hover {
                color: $blue-500;
              }
            }
          }
        }
      }
    }
  }
  &__copy {
    display: flex;
    gap: 4px;
    span {
      @include font-xs;
    }
  }
}