.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  border-bottom: 1px solid $gray-300;
  background-color: $white;
  padding: 16px 0;
  &__link {
    margin-right: 16px;
    @include screen(laptop) {
      transition: color $transition-default;
    }
    &.active {
      color: $blue-500;
    }
  }
}