@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.header-v1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;

  border-bottom: 1px solid $gray-200;

  background-color: $white;

  transition:
    background-color $transition-default,
    border-color $transition-default;
  body.dark & {
    border-color: $gray-700;
    background-color: $gray-900;
  }
  &__logo {
    svg {
      path {
        transition: fill $transition-default;
      }
      rect {
        transition: stroke $transition-default;
      }
      body.dark & {
        path {
          fill: $white;
        }
        rect {
          stroke: $white;
        }
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-32;
    height: 61px;
    @include screen(xl) {
      height: 80px;
    }
    .nav {
      position: fixed;
      bottom: 0;
      left: 0;

      z-index: -1;

      width: 100%;
      height: calc(100% - 62px);

      background-color: $white;

      transition: background-color $transition-default;
      opacity: 0;
      visibility: hidden;
      @include screen(xl) {
        position: static;
        z-index: 1;

        width: auto;
        height: calc(100% - 80px);

        background-color: transparent;

        transition:
          opacity 0,
          visibility 0,
          z-index 0;
        opacity: 1;
        visibility: visible;
      }

      &.active {
        opacity: 1;

        z-index: 10;
        visibility: visible;
      }
      body.dark & {
        background-color: $gray-900;
        @include screen(xl) {
          background-color: transparent;
        }
      }
      .wrapper {
        @include screen(xl) {
          padding: 0;
        }
        .header-v1__button {
          display: block;
          @include screen(xl) {
            display: none;
          }
        }
        .header-v1__controls {
          display: flex;
          align-items: flex-start;
          gap: $spacing-8;
          padding-top: $spacing-24;
          width: 100%;
          &:before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 1px;

            background-color: $gray-200;

            transition: background-color $transition-default;
            @include screen(xl) {
              display: none;
            }
            body.dark & {
              background-color: $gray-700;
            }
          }
          @include screen(xl) {
            padding-top: 0;

            border-top: 0;
          }
        }
      }
      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: $spacing-16;
        padding: $spacing-16 0;
        @include screen(xl) {
          flex-direction: row;
          align-items: center;
          row-gap: 0;
          column-gap: $spacing-32;
          padding: 0;
        }
      }
    }
  }
  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include screen(xl) {
      flex: 1;
      gap: $spacing-32;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    column-gap: $spacing-6;

    font-weight: 500;
    color: $gray-900;

    transition: color $transition-default;
    @include font-20;
    @include screen(xl) {
      @include font-16;
    }
    @include screen(xl) {
      &:hover {
        color: $blue-700;
        body.dark & {
          color: $blue-600;
        }
      }
    }
    body.dark & {
      color: $white;
      &.active {
        color: $blue-600;
      }
    }
    span,
    &.active {
      body.dark & {
        color: $blue-600;
      }
    }
  }
  &__button {
    display: none;
    padding: $spacing-10 $spacing-20;

    border: 1px solid $gray-200;
    border-radius: $rounded-8;

    font-weight: 500;
    text-align: center;

    transition:
      border-color $transition-default,
      background-color $transition-default;
    @include screen(xl) {
      display: block;
    }
    @include screen(xl) {
      &:hover {
        background-color: $gray-100;
        body.dark & {
          background-color: $gray-700;
        }
      }
    }
    body.dark & {
      border-color: $gray-600;
    }
    &-mob {
      @include screen(xl) {
        display: none;
      }
    }
    &-blue {
      padding: $spacing-10 $spacing-20;

      border: 1px solid $blue-700;
      background-color: $blue-700;

      color: $white;
      @include screen(xl) {
        &:hover {
          border-color: $blue-800;
          background-color: $blue-800;
          body.dark & {
            border-color: $blue-600;
            background-color: $blue-600;
          }
        }
      }
      body.dark & {
        border-color: $blue-700;
      }
    }
  }
  &__controls {
    position: relative;

    display: flex;
    align-items: center;
    column-gap: $spacing-16;
  }
  &__theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    &-light,
    &-dark {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 20px;
      height: 20px;

      transition:
        opacity $transition-default,
        visibility $transition-default,
        z-index $transition-default;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    &-light {
      opacity: 1;

      z-index: 1;
      visibility: visible;
    }
    &-dark {
      opacity: 0;
      visibility: hidden;

      z-index: -1;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &.active {
      .header-v1 {
        &__theme {
          &-light {
            opacity: 0;

            z-index: -1;
            visibility: hidden;
          }
          &-dark {
            opacity: 1;

            z-index: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  &__burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 32px;
    height: 32px;
    @include screen(xl) {
      display: none;
    }
    svg {
      width: 14px;
      height: 14px;
      path,
      rect {
        transition:
          transform $transition-default,
          opacity $transition-default,
          fill $transition-default;

        body.dark & {
          fill: $white;
        }
      }
    }
    &.active {
      svg {
        rect {
          &:nth-child(1) {
            transform: translateX(3px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
        }
        path {
          &:nth-child(3) {
            transform: translateX(-7px) translateY(3px) rotate(-45deg);
          }
        }
      }
    }
  }
}