@use "@s-base/variables" as *;
@use "@s-utils/mixins" as *;

.intro {
  &__content {
    max-width: 660px;
    li {
      a {
        border-bottom: 1px solid transparent;

        color: $blue-500;
        @include screen(laptop) {
          transition: border-color $transition-default;
          &:hover {
            border-color: $blue-500;
          }
        }
      }
    }
  }
}