@use "../base/variables" as *;
@use "../utils/mixins" as *;

.not-found {
  a {
    display: inline-block;
    margin-top: 8px;

    border-bottom: 1px solid transparent;

    color: $blue-500;
    @include screen(laptop) {
      transition: border-color $transition-default;
      &:hover {
        border-color: $blue-500;
      }
    }
  }
}