section.features
  .wrapper
    .features__wrapper
      .features__heading
        h2 Designed for business teams like yours
        p Here at flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.