{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "styles": "./src/assets/styles",
          "images": "./src/assets/images",
          "files": "./src/assets/files",
          "videos": "./src/assets/videos",
          "js": "./src/assets/js"
        }
      }
    ]
  ]
}