section(itemscope itemtype="https://schema.org/Organization")
  .wrapper
    .hero-v1
      .hero-v1__wrapper(itemscope itemtype="https://schema.org/WebPageElement" itemprop="hasPart")
        .hero-v1__content
          h1.hero-v1__title(itemprop="headline") We invest in the world’s potential
          p.hero-v1__description(itemprop="description") Here at flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.
        .hero-v1__buttons
          a.hero-v1__button.hero-v1__button-blue(href="#" itemscope itemtype="https://schema.org/EntryPoint" itemprop="potentialAction")
            span(itemprop="name") Learn more
            meta(itemprop="url" content="#")
          a.hero-v1__button(href="#" itemscope itemtype="https://schema.org/EntryPoint" itemprop="potentialAction")
            span(itemprop="name") Watch video
            meta(itemprop="url" content="#")
