section.components 
  .wrapper 
    .components__wrapper
      .content.content-full
        details(open)
          summary Blog
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong blog-v1 
              td 
                code yarn constructor blog-v1
              td
                img(src="#", alt="blog-v1")
              td
                img(src="#", alt="blog-v1")
        details
          summary Breadcrumbs
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong breadcrumbs-v1 
              td 
                code yarn constructor breadcrumbs-v1
              td
                img(src="#", alt="breadcrumbs-v1")
              td
                img(src="#", alt="breadcrumbs-v1")
            tr 
              td 
                strong breadcrumbs-v2
              td 
                code yarn constructor breadcrumbs-v2
              td
                img(src="#", alt="breadcrumbs-v2")
              td
                img(src="#", alt="breadcrumbs-v2")
        details
          summary Contact
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong contact-v1 
              td 
                code yarn constructor contact-v1
              td
                img(src="#", alt="contact-v1")
              td
                img(src="#", alt="contact-v1")
        details
          summary Content
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong content-v1 
              td 
                code yarn constructor content-v1
              td
                img(src="#", alt="content-v1")
              td
                img(src="#", alt="content-v1")
            tr 
              td 
                strong content-v2
              td 
                code yarn constructor content-v2
              td
                img(src="#", alt="content-v2")
              td
                img(src="#", alt="content-v2")
            tr 
              td 
                strong content-v3
              td 
                code yarn constructor content-v3
              td
                img(src="#", alt="content-v3")
              td
                img(src="#", alt="content-v3")
        details
          summary Customer logos
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong customer-logos-v1 
              td 
                code yarn constructor customer-logos-v1
              td
                img(src="#", alt="customer-logos-v1")
              td
                img(src="#", alt="customer-logos-v1")
        details
          summary Features
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong features-v1 
              td 
                code yarn constructor features-v1
              td
                img(src="#", alt="features-v1")
              td
                img(src="#", alt="features-v1")
        details
          summary Footer
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong footer-v1 
              td 
                code yarn constructor footer-v1
              td
                img(src="#", alt="footer-v1")
              td
                img(src="#", alt="footer-v1")
        details
          summary Header
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong header-v1 
              td 
                code yarn constructor header-v1
              td
                img(src="#", alt="header-v1")
              td
                img(src="#", alt="header-v1")
        details
          summary Hero
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong hero-v1 
              td 
                code yarn constructor hero-v1
              td
                img(src="#", alt="hero-v1")
              td
                img(src="#", alt="hero-v1")
        details
          summary Pricing
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong pricing-v1 
              td 
                code yarn constructor pricing-v1
              td
                img(src="#", alt="pricing-v1")
              td
                img(src="#", alt="pricing-v1")
        details
          summary Team
          table 
            tr 
              th Name
              th Command
              th Preview Light
              th Preview Dark
            tr 
              td 
                strong team-v1 
              td 
                code yarn constructor team-v1
              td
                img(src="#", alt="team-v1")
              td
                img(src="#", alt="team-v1")