section.components 
  .wrapper 
    .components__wrapper
      .content.content-full
        table 
          colgroup
            col(style="width:10%")
            col(style="width:10%")
            col(style="width:25%")
            col(style="width:25%")
          tr 
            th Name
            th Command
            th Preview Light
            th Preview Dark
          tr 
            td 
              strong blog-v1 
            td 
              .code-block
                code yarn constructor blog-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/blog-v1.webp", alt="blog-v1")
            td
              img.preview(src="/assets/images/constructor-components/blog-v1-dark.webp", alt="blog-v1-dark")
          tr 
            td 
              strong breadcrumbs-v1 
            td 
              .code-block
                code yarn constructor breadcrumbs-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/breadcrumbs-v1.webp", alt="breadcrumbs-v1")
            td
              img.preview(src="/assets/images/constructor-components/breadcrumbs-v1-dark.webp", alt="breadcrumbs-v1-dark")
          tr 
            td 
              strong breadcrumbs-v2
            td 
              .code-block
                code yarn constructor breadcrumbs-v2
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/breadcrumbs-v2.webp", alt="breadcrumbs-v2")
            td
              img.preview(src="/assets/images/constructor-components/breadcrumbs-v2-dark.webp", alt="breadcrumbs-v2-dark")
          tr 
            td 
              strong contact-v1 
            td 
              .code-block
                code yarn constructor contact-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/contact-v1.webp", alt="contact-v1")
            td
              img.preview(src="/assets/images/constructor-components/contact-v1-dark.webp", alt="contact-v1-dark")
          tr 
            td 
              strong content-v1 
            td 
              .code-block
                code yarn constructor content-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/content-v1.webp", alt="content-v1")
            td
              img.preview(src="/assets/images/constructor-components/content-v1-dark.webp", alt="content-v1-dark")
          tr 
            td 
              strong content-v2
            td 
              .code-block
                code yarn constructor content-v2
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/content-v2.webp", alt="content-v2")
            td
              img.preview(src="/assets/images/constructor-components/content-v2-dark.webp", alt="content-v2-dark")
          tr 
            td 
              strong content-v3
            td 
              .code-block
                code yarn constructor content-v3
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/content-v3.webp", alt="content-v3")
            td
              img.preview(src="/assets/images/constructor-components/content-v3-dark.webp", alt="content-v3-dark")
          tr 
            td 
              strong customer-logos-v1 
            td 
              .code-block
                code yarn constructor customer-logos-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/customer-logos-v1.webp", alt="customer-logos-v1")
            td
              img.preview(src="/assets/images/constructor-components/customer-logos-v1-dark.webp", alt="customer-logos-v1-dark")
          tr 
            td 
              strong features-v1 
            td 
              .code-block
                code yarn constructor features-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/features-v1.webp", alt="features-v1")
            td
              img.preview(src="/assets/images/constructor-components/features-v1-dark.webp", alt="features-v1-dark")
          tr 
            td 
              strong footer-v1 
            td 
              .code-block
                code yarn constructor footer-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/footer-v1.webp", alt="footer-v1")
            td
              img.preview(src="/assets/images/constructor-components/footer-v1-dark.webp", alt="footer-v1-dark")
          tr 
            td 
              strong header-v1 
            td 
              .code-block
                code yarn constructor header-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/header-v1.webp", alt="header-v1")
            td
              img.preview(src="/assets/images/constructor-components/header-v1-dark.webp", alt="header-v1-dark")
          tr 
            td 
              strong hero-v1 
            td 
              .code-block
                code yarn constructor hero-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/hero-v1.webp", alt="hero-v1")
            td
              img.preview(src="/assets/images/constructor-components/hero-v1-dark.webp", alt="hero-v1-dark")
          tr 
            td 
              strong pricing-v1 
            td 
              .code-block
                code yarn constructor pricing-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/pricing-v1.webp", alt="pricing-v1")
            td
              img.preview(src="/assets/images/constructor-components/pricing-v1-dark.webp", alt="pricing-v1-dark")
          tr 
            td 
              strong team-v1 
            td 
              .code-block
                code yarn constructor team-v1
                button(type="button")
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5C9 3.89543 9.89543 3 11 3H18C19.1046 3 20 3.89543 20 5V15C20 16.1046 19.1046 17 18 17H16V15H18V5H11V6H9V5ZM6.94142 7.69842C7.32139 7.25513 7.87608 7 8.45994 7H13C14.1046 7 15 7.89543 15 9V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V11.8699C4 11.3925 4.17078 10.9308 4.48149 10.5683L5 11.0128L4.48149 10.5683L6.94142 7.69842ZM6 13V19H13V9H10V11C10 12.1046 9.10457 13 8 13H6ZM8 9.53659V11H6.74565L8 9.53659Z" fill="currentColor"/>
                  </svg>
            td
              img.preview(src="/assets/images/constructor-components/team-v1.webp", alt="team-v1")
            td
              img.preview(src="/assets/images/constructor-components/team-v1-dark.webp", alt="team-v1-dark")
.image-modal
  img.image-modal__img