extends ../layouts/master.pug

block title
  title Rise | 404

block basicSeo
  meta(content="Это странца 404" name="description")
  meta(content="Страница, 404" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest")
  meta(content="../browserconfig.xml" name="msapplication-config")

block content

  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="404")
        sections
          include ../mixins/title.pug
          +title('404')
          include ../components/error.pug
    include ../components/footer.pug
