extends ../layouts/master

block title
  title Rise | Блог

block basicSeo
  meta(content="Это страница блога" name="description")
  meta(content="Страница, блог" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="blog")
        .page-container
          .page-wrapper
            include ../mixins/title
            +title('Блог')
            include ../components/blog
          include ../components/footer