extends ../layouts/master.pug

block title
  title Rise | Блог

block basicSeo
  meta(name="description" content="Это страница блога")
  meta(name="keywords", content="Страница, блог")

block manifestBrowserconfigFiles
  link(href="../manifest.json", rel="manifest")
  meta(name="msapplication-config" content="../browserconfig.xml")

block content

  +header("blog")

  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="blog")
        sections
          section
            .wrapper 
              h1 Блог
            
    include ../components/footer.pug

