extends ../layouts/master.pug

block title
  title Rise | Блог

block basicSeo
  meta(content="Это страница блога" name="description")
  meta(content="Страница, блог" name="keywords")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="blog")
        .page-container 
          .page-wrapper
            include ../mixins/title.pug
            +title('Блог')
            include ../components/blog.pug
          include ../components/footer.pug
