mixin title(data = {})
  - const { defaults, mergeConfig } = require("@defaults/title/_defaults");
  - const modefied = mergeConfig(data, defaults);

  section.title
    .wrapper
      h1 !{ modefied.title }