include @p-mixins/member-v1/member

section.team-v1(
  itemscope
  itemtype="https://schema.org/Organization"
)
  .wrapper
    .team-v1__wrapper
      .team-v1__heading
        h2(itemprop="name") Our team
        p(itemprop="description") Explore the whole collection of open-source web components and elements built with the utility classes from Tailwind
      .team-v1__items.swiper.swiper-team
        .swiper-wrapper
          +member({
            description: 'Bonnie drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Bonnie Green',
          })
          +member({
            description: 'Thomas drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Thomas Lean',
          })
          +member({
            description: 'Jese drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Jese Leos',
          })
          +member({
            description: 'Leslie drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Leslie Livingston',
          })
          +member({
            description: 'Karen drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Karen Nelson',
          })
          +member({
            description: 'Robert drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Robert Brown',
          })
          +member({
            description: 'Lana drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Lana Byrd',
          })
          +member({
            description: 'Micheal drives the technical strategy of the themesberg platform and brand.',
            image: {
              src: '',
            },
            role: 'Senior Front-end Developer',
            title: 'Micheal Gough',
          })
        .swiper-pagination