// @import "./utils/reset"; // Если "@tailwind base" подключён ниже, то этот импорт не нужен.

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Шрифты и типография
*/
@import "./base/fonts";
@import "./base/typography";

/*
  Утилиты
*/
@import "./utils/keyframes";
@import "./utils/mixins";

/*
  Базовые стили
*/
@import "./base/global";

/*
  Миксины
*/
@import "./mixins/title";
@import "./mixins/article";

/*
  Компоненты
*/
@import "./components/header";
@import "./components/footer";
@import "./components/content";
@import "./components/blog";
@import "./components/error";
