extends ./layouts/master.pug

block title
  title Rise | Главная

block basicSeo
  meta(content="Главная страница" name="description")
  meta(content="Главная, страница" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest")
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  +header("main")

  main
  .barba(data-barba="wrapper")
    .barba-container(data-barba="container" data-barba-namespace="main")
      sections
        section
          .wrapper
            h1 Главная

  include ./components/footer.pug
