extends @p-layouts/master

block title
  title Rise | Главная

block basicSeo
  meta(content="Главная страница" name="description")
  meta(content="Главная, страница" name="keywords")
  link(href="/" rel="canonical")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="main")
        .page-container
          .page-wrapper
            +title({
              title: `<img src="${require("@images/logo.svg")}" alt="logo"> Добро пожаловать в Rise!`,
            })
            include @p-custom-components/intro
            include @p-components/features-v1
          include @p-custom-components/footer