.blog {
  &__article {
    display: block;
    grid-column: span 1;
    padding: 20px;

    border: 1px solid $gray-300;
    border-radius: 6px;
    @include screen(laptop) {
      transition: border-color $transition-default;
      &:hover {
        border-color: $blue-500;
      }
    }
    h3 {
      font-weight: 600;
      @include font-xl;
      @include screen(tablet-2x) {
        @include font-2xl;
      }
    }
    span {
      display: inline-block;
      margin-top: 16px;
      padding-bottom: 2px;

      color: $blue-500;
    }
  }
}