@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.article {
  display: block;
  grid-column: span 1;
  padding: $spacing-20;

  border: 1px solid $gray-300;
  border-radius: $rounded-6;

  transition: border-color $transition-default;
  @include screen(xl) {
    &:hover {
      border-color: $blue-500;
    }
  }
  body.dark & {
    border-color: $gray-700;
    @include screen(xl) {
      &:hover {
        border-color: $blue-500;
      }
    }
  }
  span {
    display: inline-block;
    margin-top: $spacing-16;
    padding-bottom: $spacing-2;

    color: $blue-500;
  }
}