.article {
  display: block;
  grid-column: span 1;
  padding: 20px;

  border: 1px solid $gray-300;
  border-radius: 6px;

  transition: border-color $transition-default;
  @include screen(laptop) {
    &:hover {
      border-color: $blue-500;
    }
  }
  body.dark & {
    border-color: $gray-700;
    @include screen(laptop) {
      &:hover {
        border-color: $blue-500;
      }
    }
  }
  h3 {
    color: $white;
  }
  span {
    display: inline-block;
    margin-top: 16px;
    padding-bottom: 2px;

    color: $blue-500;
  }
}