h1 {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  @include screen(tablet) {
    font-size: 30px;
    line-height: 36px;
  }
  @include screen(tablet-2x) {
    font-size: 48px;
    line-height: 1;
  }
  img {
    margin-right: 12px;
    width: 32px;
    min-width: 32px;
    @include screen(tablet-2x) {
      width: 48px;
      min-width: 48px;
    }
  }
}