h1 {
  display: flex;
  align-items: center;

  font-weight: 700;
  @include font-2xl;
  @include screen(tablet) {
    @include font-3xl;
  }
  @include screen(tablet-2x) {
    @include font-5xl;
  }
  img {
    margin-right: 12px;
    width: 24px;
    min-width: 24px;
    @include screen(tablet) {
      width: 32px;
      min-width: 32px;
    }
    @include screen(tablet-2x) {
      width: 48px;
      min-width: 48px;
    }
  }
}