extends ../../layouts/master.pug

block title
  title Rise | Запись в блоге 2

block basicSeo
  meta(content="Это страница записи в блоге 2" name="description")
  meta(content="Запись 2, страница" name="keywords")

block manifest
  link(href="../../manifest.json" rel="manifest")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="post")
        .page-container
          .page-wrapper
            section.content
              .wrapper
                <h1>H1 Запись в блоге 2</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <p><strong>Жирный шрифт</strong></p>
                <p><em>Курсивный шрифт</em></p>
                <blockquote>
                <p>Цитата</p>
                </blockquote>
                <ol>
                <li>Первый элемент</li>
                <li>Второй элемент</li>
                <li>Третий элемент</li>
                </ol>
                <ul>
                <li>Первый элемент</li>
                <li>Второй элемент</li>
                <li>Третий элемент</li>
                </ul>
                <table>
                <thead>
                <tr>
                <th>Заголовок 1</th>
                <th>Заголовок 1</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>Пункт 1</td>
                <td>Пункт 1</td>
                </tr>
                <tr>
                <td>Пункт 2</td>
                <td>Пункт 2</td>
                </tr>
                </tbody>
                </table>
                <p><code>Строка кода</code></p>
                pre.
                  <code class="hljs"><span class="hljs-keyword">function</span> <span class="hljs-title function_">test</span>(<span class="hljs-params">text</span>) {
                    <span class="hljs-variable language_">console</span>.<span class="hljs-title function_">log</span>(text);
                  }
                  <span class="hljs-title function_">test</span>(<span class="hljs-string">&#x27;test&#x27;</span>);
                </code>
                <hr>
                <p><a href="https://wotkad.ru/rise/">Rise</a></p>
                <p><img src="/assets/images/logo.svg" alt="Logo"></p>
          include ../../components/footer.pug