@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.blog {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: $spacing-20;
    margin-top: $spacing-24;
    @include screen(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include screen(lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    h3 {
      margin-top: $spacing-16;

      font-weight: 600;
      @include font-xl;
      @include screen(lg) {
        margin-top: $spacing-24;

        @include font-2xl;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}