@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.components {
  &__wrapper {
    .content {
      padding-top: 0;
      overflow-x: auto;
      table {
        margin-top: 0;
        width: 100%;
        min-width: 500px;
        @include font-16;
        thead {
          background-color: $gray-050;
        }
        tbody tr {
          th {
            padding: $spacing-12 $spacing-16;

            font-weight: 600;
            letter-spacing: $spacing-1;
            text-align: left;
            text-transform: uppercase;
            white-space: nowrap;
            color: $gray-500;
          }
          td {
            padding: $spacing-12 $spacing-16;
            vertical-align: middle;

            white-space: nowrap;
            .code-block {
              display: flex;
              align-items: center;
              gap: $spacing-4;
              &.active {
                code {
                  background-color: $green-300 !important;
                }
              }
              button {
                svg {
                  width: 20px;
                  height: 20px;

                  transition: $transition-default;
                }
                &:hover {
                  svg {
                    color: $blue-500;
                  }
                }
              }
            }
            img {
              width: 100%;

              border-radius: 0;
              cursor: zoom-in;
            }
          }
        }
      }
    }
  }
}

.image-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);

  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  cursor: zoom-out;
}

.image-modal.active {
  opacity: 1;
  visibility: visible;
}

.image-modal__img {
  max-width: 90vw;
  max-height: 90vh;

  border-radius: 12px;
}