@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.components {
  &__wrapper {
    .content {
      padding-top: 0;
      overflow-x: auto;
      table {
        width: 100%;
        min-width: 500px;
        margin-top: 0;
        @include font-16;
        thead {
          background-color: $gray-050;
        }
        tbody tr {
          th {
            padding: $spacing-12 $spacing-16;
            text-align: left;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: $gray-500;
            white-space: nowrap;
          }
          td {
            padding: $spacing-12 $spacing-16;
            vertical-align: middle;
            white-space: nowrap;
            img {
              border-radius: 0;
              width: 100%;
              cursor: zoom-in;
            }
          }
        }
      }
    }
  }
}

.image-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  cursor: zoom-out;
  z-index: 1000;
}

.image-modal.active {
  opacity: 1;
  visibility: visible;
}

.image-modal__img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
}