@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.footer {
  margin-top: $spacing-24;
  width: 100%;

  border-top: 1px solid $gray-200;

  transition: border-color $transition-default;
  body.dark & {
    border-color: $gray-700;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $spacing-24 0;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-24;
    img {
      width: 24px;
    }
  }
  &__project {
    display: inline-block;
    margin-left: $spacing-4;

    font-weight: 700;
    color: $gray-900;

    transition: color $transition-default;
    @include screen(xl) {
      &:hover {
        color: $blue-500;
      }
    }
    body.dark & {
      color: $white;
      @include screen(xl) {
        &:hover {
          color: $blue-500;
        }
      }
    }
    i {
      margin-left: $spacing-4;

      @include font-14;
    }
  }
  &__powered {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include font-14;
  }
  &__external {
    color: $gray-900;

    transition: color $transition-default;
    @include font-12;
    @include screen(xl) {
      &:hover {
        color: $blue-500;
      }
    }
    body.dark & {
      color: $white;
      @include screen(xl) {
        &:hover {
          color: $blue-500;
        }
      }
    }
  }
  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-16;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spacing-16;
      margin: 0;
      li {
        display: inline-flex;
        margin: 0;
      }
    }
  }
  &__copy {
    display: flex;
    gap: $spacing-4;
    span {
      @include font-12;
    }
  }
}