@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

h1 {
  display: flex;
  align-items: center;
  margin-top: $spacing-24;

  font-weight: 700;
  @include font-24;
  @include screen(md) {
    @include font-30;
  }
  @include screen(lg) {
    @include font-48;
  }
  img {
    margin-right: $spacing-12;
    width: 24px;
    min-width: $spacing-24;
    @include screen(md) {
      width: 32px;
      min-width: 32px;
    }
    @include screen(lg) {
      width: 48px;
      min-width: 48px;
    }
  }
  &:first-child {
    margin-top: 0;
    margin-bottom: $spacing-40;
  }
}

.intro {
  &__content {

    max-width: 660px;
    span {
      display: inline-block;

      color: $gray-500;

      @include font-14;
    }
    code {
      padding: $spacing-2 $spacing-6;

      border-radius: $rounded-4;
      background-color: $blue-100 !important;

      transition: $transition-default;
      @include font-12;
      @include screen(lg) {
        padding: $spacing-4 $spacing-8;
        @include font-14;
      }

      body.dark & {
        background-color: $gray-800 !important;
      }
      span {
        transition: $transition-default;
      }
    }
    ul {
      margin-top: $spacing-16;
      margin-left: $spacing-16;
      list-style: disc;
      @include screen(lg) {
        margin-top: $spacing-20;
      }
      li {
        margin-top: $spacing-8;
        @include font-14;
        @include screen(md) {
          @include font-16;
        }
        &::marker {
          color: $blue-500;
        }
      }
    }
    ol {
      margin-top: $spacing-16;
      margin-left: $spacing-16;
      list-style: decimal;
      @include screen(lg) {
        margin-top: $spacing-20;
      }
      & > span {
        @include font-14;
        @include screen(md) {
          @include font-16;
        }
      }
      li {
        margin-top: $spacing-12;
        @include font-14;
        @include screen(md) {
          @include font-16;
        }
        &::marker {
          font-weight: 500;
          color: $blue-500;
        }
        span {
          display: block;
          margin-top: $spacing-4;

          color: $gray-500;
        }
        ul {
          margin-top: $spacing-12;
        }
      }
    }
    a {
      border-bottom: 1px solid transparent;

      color: $blue-500;
      @include screen(xl) {
        transition: border-color $transition-default;
        &:hover {
          border-color: $blue-500;
        }
      }
    }
    h2 {
      margin-top: $spacing-24;

      font-weight: 600;
      @include font-20;
      @include screen(lg) {
        margin-top: $spacing-40;

        @include font-30;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}