@use "@s-base/variables" as *;
@use "@s-mixins/mixins" as *;

.not-found {
  a {
    display: inline-block;
    margin-top: $spacing-8;

    border-bottom: 1px solid transparent;

    color: $blue-500;
    @include screen(xl) {
      transition: border-color $transition-default;
      &:hover {
        border-color: $blue-500;
      }
    }
  }
  h3 {
    margin-top: 16px;

    font-weight: 600;
    @include font-xl;
    @include screen(lg) {
      margin-top: 24px;

      @include font-2xl;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}