/*
  Tailwind
*/
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@use "@s-utils/reset"; // Если вы используете Tailwind, то этот импорт не нужен.

/*
  Базовые стили и утилиты
*/
@use "@s-base/variables";
@use "@s-utils/keyframes";
@use "@s-base/global";

/*
  Шрифты и типография
*/
@use "@s-base/fonts";
@use "@s-base/typography";

/*
  Миксины
*/
@use "@s-mixins/mixins";
@use "@s-mixins/title";
@use "@s-mixins/article";

/*
  Компоненты
*/
@use "@s-custom-components/header";
@use "@s-custom-components/footer";
@use "@s-custom-components/intro";
@use "@s-custom-components/blog";
@use "@s-custom-components/not-found";
@use "@s-custom-components/components";