@use "./utils/reset"; // Если вы используете Tailwind, то этот импорт не нужен.

/*
  Tailwind
*/
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

/*
  Базовые стили и утилиты
*/
@use "./base/variables";
@use "./utils/mixins";
@use "./utils/keyframes";
@use "./base/global";

/*
  Шрифты и типография
*/
@use "./base/fonts";
@use "./base/typography";

/*
  Миксины
*/
@use "./mixins/title";
@use "./mixins/article";

/*
  Компоненты
*/
@use "./components/header";
@use "./components/footer";
@use "./components/intro";
@use "./components/blog";
@use "./components/not-found";