doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1, maximum-scale=4"
      name="viewport"
    )
    meta(content="ie=edge" http-equiv="X-UA-Compatible")

    meta(content="#da532c" name="msapplication-TileColor")
    meta(content="#ffffff" name="theme-color")

    block basicSeo
      meta(content="Страница сайта" name="description")
      meta(content="Страница сайта" name="keywords")
      meta(content="wotkad" name="author")

    meta(content="summary" name="twitter:card")
    meta(content="" name="twitter:description")
    meta(content="" name="twitter:image")

    meta(content="Страница сайта" property="og:title")
    meta(content="" property="og:description")
    meta(content="" property="og:image")

    include @p-custom-components/favicons

    block title
      title Rise | Страница без названия

    link(href=manifestPath rel="manifest" crossorigin)

  body
    .render

    include @p-custom-components/header

    block content

    block js