section.blog
  .wrapper
    .blog__wrapper
      +article({
        href: '/blog/post',
        title: 'Запись в блоге',
      })
      +article({
        href: '/blog/post2',
        title: 'Запись в блоге 2',
      })