section.content-v1(
  itemscope
  itemtype="https://schema.org/ItemList"
)
  .wrapper
    .content-v1__wrapper
      .content-v1__heading
        h2(itemprop="name") We didn't reinvent the wheel
        p(itemprop="description") We are strategists, designers and developers. Innovators and problem solvers. Small enough to be creative, but big enough to deliver the scope.
      .swiper.swiper-content-gallery
        .swiper-wrapper 
          .swiper-slide(data-src="https://placehold.co/600x400")
            img(src="", alt="gallery-slide")
          .swiper-slide(data-src="https://placehold.co/600x400")
            img(src="", alt="gallery-slide")
          .swiper-slide(data-src="https://placehold.co/600x400")
            img(src="", alt="gallery-slide")
          .swiper-slide(data-src="https://placehold.co/600x400")
            img(src="", alt="gallery-slide")
          .swiper-slide(data-src="https://placehold.co/600x400")
            img(src="", alt="gallery-slide")
          .swiper-slide(data-src="https://placehold.co/600x400")
            img(src="", alt="gallery-slide")
        .swiper-pagination