section.content-v2(
  itemscope
  itemtype="https://schema.org/ItemList"
)
  .wrapper
    .content-v2__wrapper
      .content-v2__heading
        h2(itemprop="name") We didn't reinvent the wheel
        p(itemprop="description") We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple, quick and creative.
      .content-v2__video 
        video(src="#" playsinline muted) 
        .content-v2__play