footer.footer
  .wrapper
    .footer__wrapper
      .footer__left
        a(href="/")
          img(src="@/logo.svg" alt="logo")
        .footer__powered Разработано на
          a.footer__project(
            href="https://github.com/wotkad/rise/"
            target="_blank"
          ) Rise
            i.fa-brands.fa-github
      .footer__right
        .footer__copy
          span ©
          span.current-year
          span Rise
        ul
          li
            a.footer__external(
              href="https://wotkad.ru/rise/docs/introduction/"
              target="_blank"
            ) Документация
          li
            a.footer__external(href="https://wotkad.ru" target="_blank") Автор проекта