section.content
  .wrapper
    h2 Для начала работы: 
    ol
      li 
        span Настройте проект:
        ul
          li <code>package.json</code>, <code>tailwind.config.js</code>, <code>webpack.config.js</code> и т.д.
          li Подключите шрифты, настройте переменные, цвета, загрузите изображения
          li Удалите шаблонный код
      li 
        span Организуйте файловую структуру.
      li.bold 
        span Приступайте к разработке! 
      span Более подробную информацию вы сможете найти в <a href="https://wotkad.ru/rise/docs/introduction/" target="_blank">документации</a>.</span>