include @p-mixins/price-v1/price

section.pricing-v1(
  itemscope
  itemtype="https://schema.org/Product"
)
  .wrapper
    .pricing-v1__wrapper
      input#pricing.pricing-v1__input.hidden(type="checkbox")
      .pricing-v1__heading
        h2(itemprop="name") Designed for business teams like yours
        p(itemprop="description") Here at flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.
        label.pricing-v1__toggle(for="pricing")
          p.pricing-v1__toggle-monthly Monthly
          span
          p.pricing-v1__toggle-yearly Yearly
      .pricing-v1__items
        +price({
          button: {
            href: '#',
            target: '_blank',
            text: 'Get started',
          },
          description: '$19 USD per month, paid annually',
          items: [
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 10H21M7 15H8M12 15H13M6 19H18C18.7956 19 19.5587 18.6839 20.1213 18.1213C20.6839 17.5587 21 16.7956 21 16V8C21 7.20435 20.6839 6.44129 20.1213 5.87868C19.5587 5.31607 18.7956 5 18 5H6C5.20435 5 4.44129 5.31607 3.87868 5.87868C3.31607 6.44129 3 7.20435 3 8V16C3 16.7956 3.31607 17.5587 3.87868 18.1213C4.44129 18.6839 5.20435 19 6 19Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              text: 'All tools you need to manage payments',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM17 12C17.5523 12 18 12.4477 18 13C18 14.3622 17.2713 15.7324 16.2285 16.7354C15.1705 17.7528 13.6814 18.5 12 18.5C10.3186 18.5 8.82951 17.7528 7.77148 16.7354C6.72866 15.7324 6 14.3622 6 13C6 12.4477 6.44772 12 7 12C7.40908 12 7.76113 12.2458 7.91602 12.5977C8.07814 12.6698 8.35341 12.7533 8.75195 12.8301C9.60542 12.9944 10.7868 13.083 12 13.083C13.2132 13.083 14.3946 12.9944 15.248 12.8301C15.6466 12.7533 15.9219 12.6698 16.084 12.5977C16.2389 12.2458 16.5909 12 17 12ZM15.2373 14.8623C14.2817 15.0124 13.1285 15.083 12 15.083C10.8715 15.083 9.71826 15.0124 8.7627 14.8623C8.88074 15.0097 9.01316 15.1544 9.1582 15.2939C9.90987 16.0167 10.9208 16.5 12 16.5C13.0792 16.5 14.0901 16.0167 14.8418 15.2939C14.9868 15.1544 15.1193 15.0097 15.2373 14.8623ZM9 6.31152C9.19033 6.31152 9.36402 6.41917 9.44824 6.58984L9.9502 7.60645L11.0713 7.76953C11.2597 7.7968 11.4167 7.92835 11.4756 8.10938C11.5345 8.29039 11.4849 8.48919 11.3486 8.62207L10.5371 9.41406L10.7285 10.5312C10.7606 10.7187 10.6841 10.9086 10.5303 11.0205C10.3763 11.1324 10.1714 11.1472 10.0029 11.0586L9 10.5312L7.99707 11.0586C7.82862 11.1472 7.62371 11.1324 7.46973 11.0205C7.31596 10.9086 7.23936 10.7187 7.27148 10.5312L7.46289 9.41406L6.65137 8.62207C6.51508 8.48919 6.46555 8.29039 6.52441 8.10938C6.5833 7.92835 6.74031 7.7968 6.92871 7.76953L8.0498 7.60645L8.55176 6.58984C8.63598 6.41917 8.80967 6.31153 9 6.31152ZM15 6.31152C15.1903 6.31152 15.364 6.41917 15.4482 6.58984L15.9502 7.60645L17.0713 7.76953C17.2597 7.7968 17.4167 7.92835 17.4756 8.10938C17.5345 8.29039 17.4849 8.48919 17.3486 8.62207L16.5371 9.41406L16.7285 10.5312C16.7606 10.7187 16.6841 10.9086 16.5303 11.0205C16.3763 11.1324 16.1714 11.1472 16.0029 11.0586L15 10.5312L13.9971 11.0586C13.8286 11.1472 13.6237 11.1324 13.4697 11.0205C13.316 10.9086 13.2394 10.7187 13.2715 10.5312L13.4629 9.41406L12.6514 8.62207C12.5151 8.48919 12.4656 8.29039 12.5244 8.10938C12.5833 7.92835 12.7403 7.7968 12.9287 7.76953L14.0498 7.60645L14.5518 6.58984C14.636 6.41917 14.8097 6.31153 15 6.31152Z" fill="currentColor"/></svg>',
              text: 'No setup, monthly, or hidden fees',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 2.58579C7.87507 2.21071 8.38378 2 8.91421 2H17C18.1046 2 19 2.89543 19 4V9C19 9.55228 18.5523 10 18 10C17.9624 10 17.9254 9.99793 17.8889 9.9939L20.3442 10.8941C20.743 11.0403 21.0059 11.4225 20.9999 11.8472C20.9718 13.8175 20.4624 15.7516 19.5154 17.4881C18.5684 19.2245 17.2118 20.7121 15.5606 21.8284C15.2223 22.0572 14.7789 22.0572 14.4406 21.8285C12.7891 20.7124 11.4322 19.2248 10.485 17.4884C9.53777 15.7519 9.02819 13.8177 9.0001 11.8473C8.99405 11.4225 9.25699 11.0403 9.65583 10.8941L14.6563 9.06109C14.8786 8.97963 15.1225 8.97964 15.3447 9.06111L17.4423 9.83015C17.1755 9.65056 17 9.34578 17 9V4H10V7C10 8.10457 9.10457 9 8 9H5V20H11C11.5523 20 12 20.4477 12 21C12 21.5523 11.5523 22 11 22H5C3.89543 22 3 21.1046 3 20V7.91421C3 7.38378 3.21071 6.87507 3.58579 6.5L7.5 2.58579ZM5.91421 7H8V4.91421L5.91421 7ZM11.0342 12.519C11.1518 13.9193 11.5612 15.2848 12.2408 16.5307C12.9241 17.7832 13.8638 18.8842 15.0004 19.7657C16.1368 18.8841 17.0764 17.7831 17.7595 16.5305C18.439 15.2847 18.8482 13.9192 18.9658 12.5189L15.0005 11.0651L11.0342 12.519Z" fill="currentColor"/></svg>',
              text: 'Comprehensive security',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 5H7C6.46957 5 5.96086 5.21071 5.58579 5.58579C5.21071 5.96086 5 6.46957 5 7V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V7C19 6.46957 18.7893 5.96086 18.4142 5.58579C18.0391 5.21071 17.5304 5 17 5H15M9 5C9 5.53043 9.21071 6.03914 9.58579 6.41421C9.96086 6.78929 10.4696 7 11 7H13C13.5304 7 14.0391 6.78929 14.4142 6.41421C14.7893 6.03914 15 5.53043 15 5M9 5C9 4.46957 9.21071 3.96086 9.58579 3.58579C9.96086 3.21071 10.4696 3 11 3H13C13.5304 3 14.0391 3.21071 14.4142 3.58579C14.7893 3.96086 15 4.46957 15 5M9 14L11 16L15 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              isDisabled: true,
              text: 'Get hundreds of feature updates',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21.0002C14.1217 21.0002 16.1566 20.1573 17.657 18.657C18.4009 17.9149 18.9909 17.0331 19.393 16.0623C19.7951 15.0915 20.0014 14.0508 20 13C20.0012 11.9491 19.7948 10.9084 19.3925 9.93756C18.9903 8.96674 18.4001 8.08499 17.656 7.343C16.09 5.777 14 5 11.986 3C9.49996 5 8.99996 8 8.99996 10C6.99996 9 6.34296 7.343 6.34296 7.343C4.84263 8.84333 3.99976 10.8782 3.99976 13C3.99976 15.1218 4.84263 17.1567 6.34296 18.657C7.84329 20.1573 9.87818 21.0002 12 21.0002Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.1277 16.8702C10.6563 16.7268 10.2274 16.4695 9.879 16.121C9.293 15.536 9 14.768 9 14H11L12.015 11C12.5078 11.0024 12.9923 11.1261 13.4259 11.3602C13.8595 11.5943 14.2288 11.9316 14.5011 12.3423C14.7733 12.753 14.9402 13.2245 14.987 13.715C15.0338 14.2056 14.9591 14.7001 14.7694 15.1548C14.5797 15.6096 14.2809 16.0107 13.8994 16.3226C13.5179 16.6345 13.0655 16.8476 12.5821 16.9431C12.0986 17.0386 11.5991 17.0135 11.1277 16.8702Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              isDisabled: true,
              text: 'Payouts to your bank account',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 2.58579C8.87507 2.21071 9.38378 2 9.91421 2H18C19.1046 2 20 2.89543 20 4V20C20 21.1046 19.1046 22 18 22H6C4.89543 22 4 21.1046 4 20V7.91421C4 7.38378 4.21071 6.87507 4.58579 6.5L8.5 2.58579ZM6 9V20H18V4H11V7C11 8.10457 10.1046 9 9 9H6ZM9 4.91421V7H6.91421L9 4.91421ZM12 11C12.5523 11 13 11.4477 13 12V18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18V12C11 11.4477 11.4477 11 12 11ZM15 14C15.5523 14 16 14.4477 16 15V18C16 18.5523 15.5523 19 15 19C14.4477 19 14 18.5523 14 18V15C14 14.4477 14.4477 14 15 14ZM9 15C9.55228 15 10 15.4477 10 16V18C10 18.5523 9.55228 19 9 19C8.44772 19 8 18.5523 8 18V16C8 15.4477 8.44772 15 9 15Z" fill="currentColor"/></svg>',
              isDisabled: true,
              text: 'Financial reconciliation and reporting',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 6C3 4.89543 3.89543 4 5 4H19C20.1046 4 21 4.89543 21 6V15C21 16.1046 20.1046 17 19 17L12.3837 17L9.50345 19.5923C8.53816 20.461 7 19.776 7 18.4773V17H5C3.89543 17 3 16.1046 3 15V6ZM19 6L5 6V15H7C8.10457 15 9 15.8954 9 17V17.3546L11.0458 15.5134C11.4131 15.1829 11.8897 15 12.3837 15H19V6ZM6 9C6 8.44772 6.44772 8 7 8H12C12.5523 8 13 8.44772 13 9C13 9.55228 12.5523 10 12 10H7C6.44772 10 6 9.55228 6 9ZM14 9C14 8.44772 14.4477 8 15 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H15C14.4477 10 14 9.55228 14 9ZM6 12C6 11.4477 6.44772 11 7 11H9C9.55228 11 10 11.4477 10 12C10 12.5523 9.55228 13 9 13H7C6.44772 13 6 12.5523 6 12ZM11 12C11 11.4477 11.4477 11 12 11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H12C11.4477 13 11 12.5523 11 12Z" fill="currentColor"/></svg>',
              isDisabled: true,
              text: '24×7 phone, chat, and email support',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 5C7.44772 5 7 5.44772 7 6C7 6.55228 7.44772 7 8 7C8.55228 7 9 6.55228 9 6C9 5.44772 8.55228 5 8 5ZM5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6C11 7.30622 10.1652 8.41746 9 8.82929V9C9 11.2091 10.7909 13 13 13H13.1707C13.5825 11.8348 14.6938 11 16 11C17.6569 11 19 12.3431 19 14C19 15.6569 17.6569 17 16 17C14.6938 17 13.5825 16.1652 13.1707 15H13C11.4633 15 10.0615 14.4223 9 13.4722V15.1707C10.1652 15.5825 11 16.6938 11 18C11 19.6569 9.65685 21 8 21C6.34315 21 5 19.6569 5 18C5 16.6938 5.83481 15.5825 7 15.1707V8.82929C5.83481 8.41746 5 7.30622 5 6ZM16 13C15.4477 13 15 13.4477 15 14C15 14.5523 15.4477 15 16 15C16.5523 15 17 14.5523 17 14C17 13.4477 16.5523 13 16 13ZM8 17C7.44772 17 7 17.4477 7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18C9 17.4477 8.55228 17 8 17Z" fill="currentColor"/></svg>',
              isDisabled: true,
              text: 'Robust developer platform',
            },
          ],
          link: {
            href: '#',
            target: '_blank',
            text: 'Go to annual plan',
          },
          price: '$29',
          priceSecondary: '$129',
          tag: '',
          title: 'Starter',
        })
        +price({
          button: {
            href: '#',
            target: '_blank',
            text: 'Get started',
          },
          description: '$159 USD per month, paid annually',
          items: [
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 10H21M7 15H8M12 15H13M6 19H18C18.7956 19 19.5587 18.6839 20.1213 18.1213C20.6839 17.5587 21 16.7956 21 16V8C21 7.20435 20.6839 6.44129 20.1213 5.87868C19.5587 5.31607 18.7956 5 18 5H6C5.20435 5 4.44129 5.31607 3.87868 5.87868C3.31607 6.44129 3 7.20435 3 8V16C3 16.7956 3.31607 17.5587 3.87868 18.1213C4.44129 18.6839 5.20435 19 6 19Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              text: 'All tools you need to manage payments',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM17 12C17.5523 12 18 12.4477 18 13C18 14.3622 17.2713 15.7324 16.2285 16.7354C15.1705 17.7528 13.6814 18.5 12 18.5C10.3186 18.5 8.82951 17.7528 7.77148 16.7354C6.72866 15.7324 6 14.3622 6 13C6 12.4477 6.44772 12 7 12C7.40908 12 7.76113 12.2458 7.91602 12.5977C8.07814 12.6698 8.35341 12.7533 8.75195 12.8301C9.60542 12.9944 10.7868 13.083 12 13.083C13.2132 13.083 14.3946 12.9944 15.248 12.8301C15.6466 12.7533 15.9219 12.6698 16.084 12.5977C16.2389 12.2458 16.5909 12 17 12ZM15.2373 14.8623C14.2817 15.0124 13.1285 15.083 12 15.083C10.8715 15.083 9.71826 15.0124 8.7627 14.8623C8.88074 15.0097 9.01316 15.1544 9.1582 15.2939C9.90987 16.0167 10.9208 16.5 12 16.5C13.0792 16.5 14.0901 16.0167 14.8418 15.2939C14.9868 15.1544 15.1193 15.0097 15.2373 14.8623ZM9 6.31152C9.19033 6.31152 9.36402 6.41917 9.44824 6.58984L9.9502 7.60645L11.0713 7.76953C11.2597 7.7968 11.4167 7.92835 11.4756 8.10938C11.5345 8.29039 11.4849 8.48919 11.3486 8.62207L10.5371 9.41406L10.7285 10.5312C10.7606 10.7187 10.6841 10.9086 10.5303 11.0205C10.3763 11.1324 10.1714 11.1472 10.0029 11.0586L9 10.5312L7.99707 11.0586C7.82862 11.1472 7.62371 11.1324 7.46973 11.0205C7.31596 10.9086 7.23936 10.7187 7.27148 10.5312L7.46289 9.41406L6.65137 8.62207C6.51508 8.48919 6.46555 8.29039 6.52441 8.10938C6.5833 7.92835 6.74031 7.7968 6.92871 7.76953L8.0498 7.60645L8.55176 6.58984C8.63598 6.41917 8.80967 6.31153 9 6.31152ZM15 6.31152C15.1903 6.31152 15.364 6.41917 15.4482 6.58984L15.9502 7.60645L17.0713 7.76953C17.2597 7.7968 17.4167 7.92835 17.4756 8.10938C17.5345 8.29039 17.4849 8.48919 17.3486 8.62207L16.5371 9.41406L16.7285 10.5312C16.7606 10.7187 16.6841 10.9086 16.5303 11.0205C16.3763 11.1324 16.1714 11.1472 16.0029 11.0586L15 10.5312L13.9971 11.0586C13.8286 11.1472 13.6237 11.1324 13.4697 11.0205C13.316 10.9086 13.2394 10.7187 13.2715 10.5312L13.4629 9.41406L12.6514 8.62207C12.5151 8.48919 12.4656 8.29039 12.5244 8.10938C12.5833 7.92835 12.7403 7.7968 12.9287 7.76953L14.0498 7.60645L14.5518 6.58984C14.636 6.41917 14.8097 6.31153 15 6.31152Z" fill="currentColor"/></svg>',
              text: 'No setup, monthly, or hidden fees',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 2.58579C7.87507 2.21071 8.38378 2 8.91421 2H17C18.1046 2 19 2.89543 19 4V9C19 9.55228 18.5523 10 18 10C17.9624 10 17.9254 9.99793 17.8889 9.9939L20.3442 10.8941C20.743 11.0403 21.0059 11.4225 20.9999 11.8472C20.9718 13.8175 20.4624 15.7516 19.5154 17.4881C18.5684 19.2245 17.2118 20.7121 15.5606 21.8284C15.2223 22.0572 14.7789 22.0572 14.4406 21.8285C12.7891 20.7124 11.4322 19.2248 10.485 17.4884C9.53777 15.7519 9.02819 13.8177 9.0001 11.8473C8.99405 11.4225 9.25699 11.0403 9.65583 10.8941L14.6563 9.06109C14.8786 8.97963 15.1225 8.97964 15.3447 9.06111L17.4423 9.83015C17.1755 9.65056 17 9.34578 17 9V4H10V7C10 8.10457 9.10457 9 8 9H5V20H11C11.5523 20 12 20.4477 12 21C12 21.5523 11.5523 22 11 22H5C3.89543 22 3 21.1046 3 20V7.91421C3 7.38378 3.21071 6.87507 3.58579 6.5L7.5 2.58579ZM5.91421 7H8V4.91421L5.91421 7ZM11.0342 12.519C11.1518 13.9193 11.5612 15.2848 12.2408 16.5307C12.9241 17.7832 13.8638 18.8842 15.0004 19.7657C16.1368 18.8841 17.0764 17.7831 17.7595 16.5305C18.439 15.2847 18.8482 13.9192 18.9658 12.5189L15.0005 11.0651L11.0342 12.519Z" fill="currentColor"/></svg>',
              text: 'Comprehensive security',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 5H7C6.46957 5 5.96086 5.21071 5.58579 5.58579C5.21071 5.96086 5 6.46957 5 7V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V7C19 6.46957 18.7893 5.96086 18.4142 5.58579C18.0391 5.21071 17.5304 5 17 5H15M9 5C9 5.53043 9.21071 6.03914 9.58579 6.41421C9.96086 6.78929 10.4696 7 11 7H13C13.5304 7 14.0391 6.78929 14.4142 6.41421C14.7893 6.03914 15 5.53043 15 5M9 5C9 4.46957 9.21071 3.96086 9.58579 3.58579C9.96086 3.21071 10.4696 3 11 3H13C13.5304 3 14.0391 3.21071 14.4142 3.58579C14.7893 3.96086 15 4.46957 15 5M9 14L11 16L15 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              text: 'Get hundreds of feature updates',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21.0002C14.1217 21.0002 16.1566 20.1573 17.657 18.657C18.4009 17.9149 18.9909 17.0331 19.393 16.0623C19.7951 15.0915 20.0014 14.0508 20 13C20.0012 11.9491 19.7948 10.9084 19.3925 9.93756C18.9903 8.96674 18.4001 8.08499 17.656 7.343C16.09 5.777 14 5 11.986 3C9.49996 5 8.99996 8 8.99996 10C6.99996 9 6.34296 7.343 6.34296 7.343C4.84263 8.84333 3.99976 10.8782 3.99976 13C3.99976 15.1218 4.84263 17.1567 6.34296 18.657C7.84329 20.1573 9.87818 21.0002 12 21.0002Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.1277 16.8702C10.6563 16.7268 10.2274 16.4695 9.879 16.121C9.293 15.536 9 14.768 9 14H11L12.015 11C12.5078 11.0024 12.9923 11.1261 13.4259 11.3602C13.8595 11.5943 14.2288 11.9316 14.5011 12.3423C14.7733 12.753 14.9402 13.2245 14.987 13.715C15.0338 14.2056 14.9591 14.7001 14.7694 15.1548C14.5797 15.6096 14.2809 16.0107 13.8994 16.3226C13.5179 16.6345 13.0655 16.8476 12.5821 16.9431C12.0986 17.0386 11.5991 17.0135 11.1277 16.8702Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              text: 'Payouts to your bank account',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 2.58579C8.87507 2.21071 9.38378 2 9.91421 2H18C19.1046 2 20 2.89543 20 4V20C20 21.1046 19.1046 22 18 22H6C4.89543 22 4 21.1046 4 20V7.91421C4 7.38378 4.21071 6.87507 4.58579 6.5L8.5 2.58579ZM6 9V20H18V4H11V7C11 8.10457 10.1046 9 9 9H6ZM9 4.91421V7H6.91421L9 4.91421ZM12 11C12.5523 11 13 11.4477 13 12V18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18V12C11 11.4477 11.4477 11 12 11ZM15 14C15.5523 14 16 14.4477 16 15V18C16 18.5523 15.5523 19 15 19C14.4477 19 14 18.5523 14 18V15C14 14.4477 14.4477 14 15 14ZM9 15C9.55228 15 10 15.4477 10 16V18C10 18.5523 9.55228 19 9 19C8.44772 19 8 18.5523 8 18V16C8 15.4477 8.44772 15 9 15Z" fill="currentColor"/></svg>',
              isDisabled: true,
              text: 'Financial reconciliation and reporting',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 6C3 4.89543 3.89543 4 5 4H19C20.1046 4 21 4.89543 21 6V15C21 16.1046 20.1046 17 19 17L12.3837 17L9.50345 19.5923C8.53816 20.461 7 19.776 7 18.4773V17H5C3.89543 17 3 16.1046 3 15V6ZM19 6L5 6V15H7C8.10457 15 9 15.8954 9 17V17.3546L11.0458 15.5134C11.4131 15.1829 11.8897 15 12.3837 15H19V6ZM6 9C6 8.44772 6.44772 8 7 8H12C12.5523 8 13 8.44772 13 9C13 9.55228 12.5523 10 12 10H7C6.44772 10 6 9.55228 6 9ZM14 9C14 8.44772 14.4477 8 15 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H15C14.4477 10 14 9.55228 14 9ZM6 12C6 11.4477 6.44772 11 7 11H9C9.55228 11 10 11.4477 10 12C10 12.5523 9.55228 13 9 13H7C6.44772 13 6 12.5523 6 12ZM11 12C11 11.4477 11.4477 11 12 11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H12C11.4477 13 11 12.5523 11 12Z" fill="currentColor"/></svg>',
              isDisabled: true,
              text: '24×7 phone, chat, and email support',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 5C7.44772 5 7 5.44772 7 6C7 6.55228 7.44772 7 8 7C8.55228 7 9 6.55228 9 6C9 5.44772 8.55228 5 8 5ZM5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6C11 7.30622 10.1652 8.41746 9 8.82929V9C9 11.2091 10.7909 13 13 13H13.1707C13.5825 11.8348 14.6938 11 16 11C17.6569 11 19 12.3431 19 14C19 15.6569 17.6569 17 16 17C14.6938 17 13.5825 16.1652 13.1707 15H13C11.4633 15 10.0615 14.4223 9 13.4722V15.1707C10.1652 15.5825 11 16.6938 11 18C11 19.6569 9.65685 21 8 21C6.34315 21 5 19.6569 5 18C5 16.6938 5.83481 15.5825 7 15.1707V8.82929C5.83481 8.41746 5 7.30622 5 6ZM16 13C15.4477 13 15 13.4477 15 14C15 14.5523 15.4477 15 16 15C16.5523 15 17 14.5523 17 14C17 13.4477 16.5523 13 16 13ZM8 17C7.44772 17 7 17.4477 7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18C9 17.4477 8.55228 17 8 17Z" fill="currentColor"/></svg>',
              isDisabled: true,
              text: 'Robust developer platform',
            },
          ],
          link: {
            href: '#',
            target: '_blank',
            text: 'Go to annual plan',
          },
          price: '$199',
          priceSecondary: '$249',
          tag: 'Most popular',
          title: 'Pro',
        })
        +price({
          button: {
            href: '#',
            target: '_blank',
            text: 'Get started',
          },
          description: '$499 USD per month, paid annually',
          items: [
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 10H21M7 15H8M12 15H13M6 19H18C18.7956 19 19.5587 18.6839 20.1213 18.1213C20.6839 17.5587 21 16.7956 21 16V8C21 7.20435 20.6839 6.44129 20.1213 5.87868C19.5587 5.31607 18.7956 5 18 5H6C5.20435 5 4.44129 5.31607 3.87868 5.87868C3.31607 6.44129 3 7.20435 3 8V16C3 16.7956 3.31607 17.5587 3.87868 18.1213C4.44129 18.6839 5.20435 19 6 19Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              text: 'All tools you need to manage payments',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM17 12C17.5523 12 18 12.4477 18 13C18 14.3622 17.2713 15.7324 16.2285 16.7354C15.1705 17.7528 13.6814 18.5 12 18.5C10.3186 18.5 8.82951 17.7528 7.77148 16.7354C6.72866 15.7324 6 14.3622 6 13C6 12.4477 6.44772 12 7 12C7.40908 12 7.76113 12.2458 7.91602 12.5977C8.07814 12.6698 8.35341 12.7533 8.75195 12.8301C9.60542 12.9944 10.7868 13.083 12 13.083C13.2132 13.083 14.3946 12.9944 15.248 12.8301C15.6466 12.7533 15.9219 12.6698 16.084 12.5977C16.2389 12.2458 16.5909 12 17 12ZM15.2373 14.8623C14.2817 15.0124 13.1285 15.083 12 15.083C10.8715 15.083 9.71826 15.0124 8.7627 14.8623C8.88074 15.0097 9.01316 15.1544 9.1582 15.2939C9.90987 16.0167 10.9208 16.5 12 16.5C13.0792 16.5 14.0901 16.0167 14.8418 15.2939C14.9868 15.1544 15.1193 15.0097 15.2373 14.8623ZM9 6.31152C9.19033 6.31152 9.36402 6.41917 9.44824 6.58984L9.9502 7.60645L11.0713 7.76953C11.2597 7.7968 11.4167 7.92835 11.4756 8.10938C11.5345 8.29039 11.4849 8.48919 11.3486 8.62207L10.5371 9.41406L10.7285 10.5312C10.7606 10.7187 10.6841 10.9086 10.5303 11.0205C10.3763 11.1324 10.1714 11.1472 10.0029 11.0586L9 10.5312L7.99707 11.0586C7.82862 11.1472 7.62371 11.1324 7.46973 11.0205C7.31596 10.9086 7.23936 10.7187 7.27148 10.5312L7.46289 9.41406L6.65137 8.62207C6.51508 8.48919 6.46555 8.29039 6.52441 8.10938C6.5833 7.92835 6.74031 7.7968 6.92871 7.76953L8.0498 7.60645L8.55176 6.58984C8.63598 6.41917 8.80967 6.31153 9 6.31152ZM15 6.31152C15.1903 6.31152 15.364 6.41917 15.4482 6.58984L15.9502 7.60645L17.0713 7.76953C17.2597 7.7968 17.4167 7.92835 17.4756 8.10938C17.5345 8.29039 17.4849 8.48919 17.3486 8.62207L16.5371 9.41406L16.7285 10.5312C16.7606 10.7187 16.6841 10.9086 16.5303 11.0205C16.3763 11.1324 16.1714 11.1472 16.0029 11.0586L15 10.5312L13.9971 11.0586C13.8286 11.1472 13.6237 11.1324 13.4697 11.0205C13.316 10.9086 13.2394 10.7187 13.2715 10.5312L13.4629 9.41406L12.6514 8.62207C12.5151 8.48919 12.4656 8.29039 12.5244 8.10938C12.5833 7.92835 12.7403 7.7968 12.9287 7.76953L14.0498 7.60645L14.5518 6.58984C14.636 6.41917 14.8097 6.31153 15 6.31152Z" fill="currentColor"/></svg>',
              text: 'No setup, monthly, or hidden fees',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 2.58579C7.87507 2.21071 8.38378 2 8.91421 2H17C18.1046 2 19 2.89543 19 4V9C19 9.55228 18.5523 10 18 10C17.9624 10 17.9254 9.99793 17.8889 9.9939L20.3442 10.8941C20.743 11.0403 21.0059 11.4225 20.9999 11.8472C20.9718 13.8175 20.4624 15.7516 19.5154 17.4881C18.5684 19.2245 17.2118 20.7121 15.5606 21.8284C15.2223 22.0572 14.7789 22.0572 14.4406 21.8285C12.7891 20.7124 11.4322 19.2248 10.485 17.4884C9.53777 15.7519 9.02819 13.8177 9.0001 11.8473C8.99405 11.4225 9.25699 11.0403 9.65583 10.8941L14.6563 9.06109C14.8786 8.97963 15.1225 8.97964 15.3447 9.06111L17.4423 9.83015C17.1755 9.65056 17 9.34578 17 9V4H10V7C10 8.10457 9.10457 9 8 9H5V20H11C11.5523 20 12 20.4477 12 21C12 21.5523 11.5523 22 11 22H5C3.89543 22 3 21.1046 3 20V7.91421C3 7.38378 3.21071 6.87507 3.58579 6.5L7.5 2.58579ZM5.91421 7H8V4.91421L5.91421 7ZM11.0342 12.519C11.1518 13.9193 11.5612 15.2848 12.2408 16.5307C12.9241 17.7832 13.8638 18.8842 15.0004 19.7657C16.1368 18.8841 17.0764 17.7831 17.7595 16.5305C18.439 15.2847 18.8482 13.9192 18.9658 12.5189L15.0005 11.0651L11.0342 12.519Z" fill="currentColor"/></svg>',
              text: 'Comprehensive security',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 5H7C6.46957 5 5.96086 5.21071 5.58579 5.58579C5.21071 5.96086 5 6.46957 5 7V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V7C19 6.46957 18.7893 5.96086 18.4142 5.58579C18.0391 5.21071 17.5304 5 17 5H15M9 5C9 5.53043 9.21071 6.03914 9.58579 6.41421C9.96086 6.78929 10.4696 7 11 7H13C13.5304 7 14.0391 6.78929 14.4142 6.41421C14.7893 6.03914 15 5.53043 15 5M9 5C9 4.46957 9.21071 3.96086 9.58579 3.58579C9.96086 3.21071 10.4696 3 11 3H13C13.5304 3 14.0391 3.21071 14.4142 3.58579C14.7893 3.96086 15 4.46957 15 5M9 14L11 16L15 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              text: 'Get hundreds of feature updates',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21.0002C14.1217 21.0002 16.1566 20.1573 17.657 18.657C18.4009 17.9149 18.9909 17.0331 19.393 16.0623C19.7951 15.0915 20.0014 14.0508 20 13C20.0012 11.9491 19.7948 10.9084 19.3925 9.93756C18.9903 8.96674 18.4001 8.08499 17.656 7.343C16.09 5.777 14 5 11.986 3C9.49996 5 8.99996 8 8.99996 10C6.99996 9 6.34296 7.343 6.34296 7.343C4.84263 8.84333 3.99976 10.8782 3.99976 13C3.99976 15.1218 4.84263 17.1567 6.34296 18.657C7.84329 20.1573 9.87818 21.0002 12 21.0002Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.1277 16.8702C10.6563 16.7268 10.2274 16.4695 9.879 16.121C9.293 15.536 9 14.768 9 14H11L12.015 11C12.5078 11.0024 12.9923 11.1261 13.4259 11.3602C13.8595 11.5943 14.2288 11.9316 14.5011 12.3423C14.7733 12.753 14.9402 13.2245 14.987 13.715C15.0338 14.2056 14.9591 14.7001 14.7694 15.1548C14.5797 15.6096 14.2809 16.0107 13.8994 16.3226C13.5179 16.6345 13.0655 16.8476 12.5821 16.9431C12.0986 17.0386 11.5991 17.0135 11.1277 16.8702Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
              text: 'Payouts to your bank account',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 2.58579C8.87507 2.21071 9.38378 2 9.91421 2H18C19.1046 2 20 2.89543 20 4V20C20 21.1046 19.1046 22 18 22H6C4.89543 22 4 21.1046 4 20V7.91421C4 7.38378 4.21071 6.87507 4.58579 6.5L8.5 2.58579ZM6 9V20H18V4H11V7C11 8.10457 10.1046 9 9 9H6ZM9 4.91421V7H6.91421L9 4.91421ZM12 11C12.5523 11 13 11.4477 13 12V18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18V12C11 11.4477 11.4477 11 12 11ZM15 14C15.5523 14 16 14.4477 16 15V18C16 18.5523 15.5523 19 15 19C14.4477 19 14 18.5523 14 18V15C14 14.4477 14.4477 14 15 14ZM9 15C9.55228 15 10 15.4477 10 16V18C10 18.5523 9.55228 19 9 19C8.44772 19 8 18.5523 8 18V16C8 15.4477 8.44772 15 9 15Z" fill="currentColor"/></svg>',
              text: 'Financial reconciliation and reporting',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 6C3 4.89543 3.89543 4 5 4H19C20.1046 4 21 4.89543 21 6V15C21 16.1046 20.1046 17 19 17L12.3837 17L9.50345 19.5923C8.53816 20.461 7 19.776 7 18.4773V17H5C3.89543 17 3 16.1046 3 15V6ZM19 6L5 6V15H7C8.10457 15 9 15.8954 9 17V17.3546L11.0458 15.5134C11.4131 15.1829 11.8897 15 12.3837 15H19V6ZM6 9C6 8.44772 6.44772 8 7 8H12C12.5523 8 13 8.44772 13 9C13 9.55228 12.5523 10 12 10H7C6.44772 10 6 9.55228 6 9ZM14 9C14 8.44772 14.4477 8 15 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H15C14.4477 10 14 9.55228 14 9ZM6 12C6 11.4477 6.44772 11 7 11H9C9.55228 11 10 11.4477 10 12C10 12.5523 9.55228 13 9 13H7C6.44772 13 6 12.5523 6 12ZM11 12C11 11.4477 11.4477 11 12 11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H12C11.4477 13 11 12.5523 11 12Z" fill="currentColor"/></svg>',
              text: '24×7 phone, chat, and email support',
            },
            {
              icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 5C7.44772 5 7 5.44772 7 6C7 6.55228 7.44772 7 8 7C8.55228 7 9 6.55228 9 6C9 5.44772 8.55228 5 8 5ZM5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6C11 7.30622 10.1652 8.41746 9 8.82929V9C9 11.2091 10.7909 13 13 13H13.1707C13.5825 11.8348 14.6938 11 16 11C17.6569 11 19 12.3431 19 14C19 15.6569 17.6569 17 16 17C14.6938 17 13.5825 16.1652 13.1707 15H13C11.4633 15 10.0615 14.4223 9 13.4722V15.1707C10.1652 15.5825 11 16.6938 11 18C11 19.6569 9.65685 21 8 21C6.34315 21 5 19.6569 5 18C5 16.6938 5.83481 15.5825 7 15.1707V8.82929C5.83481 8.41746 5 7.30622 5 6ZM16 13C15.4477 13 15 13.4477 15 14C15 14.5523 15.4477 15 16 15C16.5523 15 17 14.5523 17 14C17 13.4477 16.5523 13 16 13ZM8 17C7.44772 17 7 17.4477 7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18C9 17.4477 8.55228 17 8 17Z" fill="currentColor"/></svg>',
              text: 'Robust developer platform',
            },
          ],
          link: {
            href: '#',
            target: '_blank',
            text: 'Go to annual plan',
          },
          price: '$599',
          priceSecondary: '$999',
          tag: '',
          title: 'Platinum',
        })